@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Limelight&family=Luckiest+Guy&family=Noto+Sans+KR:wght@100..900&display=swap');


:root {
    --background: #FFFFFF;
    --foreground: #2B2B2B;
    --white: #FFFFFF;
    --white-gray: #F3F4F6;
    --black: #000000;
    --primary-black: #2B2B2B; 
    --secondary-black: #B3B3B3;
    --tertiary-black: #D4D4D4;
    --dark: #022257;
    --red: #E9124C;
    --orange: #FA7A70;
    --yellow: #FBBD0C;
    --cyan: #04C4D9;
    --kakao: #3A1D1D;
    --class-bg-1: #F6F0F0;
    --class-bg-2: #EEF1DA;
    --class-bg-3: #E9F0F0;
    --class-bg-4: #F4F8D3;
    --class-bg-5: #F5EFFF;
    --class-bg-6: #FFDFDF;
    --class-bg-7: #FFDDAE;
    --class-bg-8: #F5EEE6;
}

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none
}

a:hover {
    color: inherit;
}

a:visited {
    color: inherit;
}

button {
    border: 0;
    color: inherit;
    background-color: transparent;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height:inherit;
    width: 100vw;
    overflow-x: hidden;
    background: var(--background);
    color: var(--foreground);
    font-family: "Noto Sans KR", sans-serif;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 및 Edge */
}

/* 메뉴 확장 시 스크롤 방지 */
/* html, body {
    overflow: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
} */

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 및 Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.bg-primary-black {
    background-color: var(--primary-black);
}

.bg-secondary-black {
    background-color: var(--secondary-black);
}

.bg-tertiary-black {
    background-color: var(--tertiary-black);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-red {
    background-color: var(--red);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-cyan {
    background-color: var(--cyan);
}

.bg-class-bg-1 {
    background-color: var(--class-bg-1);
}

.bg-class-bg-2 {
    background-color: var(--class-bg-2);
}

.bg-class-bg-3 {
    background-color: var(--class-bg-3);
}

.bg-class-bg-4 {
    background-color: var(--class-bg-4);
}

.bg-class-bg-5 {
    background-color: var(--class-bg-5);
}

.bg-class-bg-6 {
    background-color: var(--class-bg-6);
}

.bg-class-bg-7 {
    background-color: var(--class-bg-7);
}

.bg-class-bg-8 {
    background-color: var(--class-bg-8);
}


.fg-white {
    color: var(--white);
}

.fg-black {
    color: var(--black);
}

.fg-primary-black {
    color: var(--primary-black);
}

.fg-secondary-black {
    color: var(--secondary-black);
}

.fg-tertiary-black {
    color: var(--tertiary-black);
}

.fg-dark {
    color: var(--dark);
}

.fg-red {
    color: var(--red);
}

.fg-orange {
    color: var(--orange);
}

.fg-yellow {
    color: var(--yellow);
}

.fg-cyan {
    color: var(--cyan);
}

.fg-kakao {
    color: var(--kakao);
}

/* Default Font - Korean */
.noto-sans-kr-100 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.noto-sans-kr-200 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.noto-sans-kr-300 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.noto-sans-kr-400 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-kr-500 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.noto-sans-kr-600 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.noto-sans-kr-700 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.noto-sans-kr-800 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.noto-sans-kr-900 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* LOGO TEST  */
.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}



.top-nav-logo {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: -0.5rem;
}

@media (min-width: 1024px) {
    .top-nav-logo {
        font-size: 2.5rem;
    }
}

.top-nav-logo:hover {
    animation: top-nav-logo-hover 1.5s ease;
}

@keyframes top-nav-logo-hover {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.3);
    }
    20% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}


#top-nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    display: flex;
    justify-content: center;
    transition: all 1s ease;
}

#top-nav-bar.bg-blur {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

#top-nav-mobile {
    display: block;
    width: 100vw;
}

#top-nav-wide {
    /* margin: 0 auto; */
    padding: 3rem 4rem;
    display: none;
    width: 100vw;
    max-width: 1440px;
    background: transparent;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: none;
    backdrop-filter: none;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    #top-nav-mobile {
        display: none;
    }

    #top-nav-wide {
        display: flex;
    }
}

@media (min-width: 1024px) {
    #top-nav-wide {
        flex-direction: row;
    }
}


#top-nav-mobile-folded {
    padding: 2rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-nav-mobile-expanded {
    display: none;
    width: 100vw;
    height: 100vh;
    color: var(--primary-black);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(30px);
}

#top-nav-mobile-expanded .container {
    width: 100%;
    height: 100%;
    padding: 2rem 2.5rem;
    flex-direction: column;
}

#top-nav-mobile-expanded-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-nav-mobile-btn-menu .material-icons,
#top-nav-mobile-btn-close .material-icons {
    font-size: 2rem;
}

#top-nav-mobile-expanded-menus {
    padding: 2rem 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-nav-mobile-expanded-menus .menu-item {
    margin: 1.6rem 0;
    flex-grow: 1;
    font-size: 1.3rem;
}

#top-nav-mobile-expanded-menus .menu-icons {
    margin: 1rem 0 2rem 0;
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

#top-nav-mobile-expanded-menus .menu-icon-container {
    max-height: 3rem;
    max-width: 3rem;
    height: 100%;
    width: 100%;
    min-height: 2rem;
    min-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#top-nav-mobile-expanded-menus .menu-icon-container:hover {
    scale: 1.2;
}


#top-nav-wide-menus {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}

@media (min-width: 1024px) {
    #top-nav-wide-menus {
        font-size: 1rem;
        gap: 2rem;
    }
}

#top-nav-wide-menus .menu-item {
    font-size: 1rem;
    transition: all 0.3s ease;
}

#top-nav-wide-menus .menu-item:hover {
    scale: 1.1;
}

#top-nav-wide-menus .menu-icon-container {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#top-nav-wide-menus .menu-icon-container:hover {
    scale: 1.2;
}



.max-width-1440px {
    max-width: 1440px;
}

.max-width-1280px {
    max-width: 1280px;
}

.max-width-1024px {
    max-width: 1024px;
}

.full-screen-width {
    width: 100vw;
}

.full-screen-height {
    height: 100vh;
}

.main-top-banner {
    position: relative;
    overflow: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 및 Edge */
}

.main-top-banner::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}


.content-sticky {
    position: sticky;
    top: 0;
}

.opacity-dot-2 {
    opacity: 0.2;
}

.opacity-dot-4 {
    opacity: 0.4;
}

.opacity-dot-6 {
    opacity: 0.6;
}

.opacity-dot-8 {
    opacity: 0.8;
}

.opacity-one {
    opacity: 1;
}



#top-banner-01-mobile {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start; /* 가로 정렬 */
    justify-content: end; /* 세로 정렬 */
}

#top-banner-01-wide {
    padding: 0;
    display: none;
    align-items: end; /* 가로 정렬 */
}

@media (min-width: 768px) {
    #top-banner-01-mobile {
        display: none;
    }

    #top-banner-01-wide {
        display: flex;
    }
}

#top-banner-01-mobile-content {
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--white);
}

#top-banner-01-wide-content {
    margin: 4rem 4rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--white);
}

#top-banner-01-mobile-content .normal {
    font-size: 2.5rem;
}

#top-banner-01-wide-content .normal {
    padding: 0.5rem 0;
    font-size: 4rem;
}




#top-banner-02-mobile {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start; /* 가로 정렬 */
    justify-content: end; /* 세로 정렬 */
}

#top-banner-02-wide {
    padding: 0;
    display: none;
    align-items: end; /* 가로 정렬 */
}

@media (min-width: 768px) {
    #top-banner-02-mobile {
        display: none;
    }

    #top-banner-02-wide {
        display: flex;
    }
}

#top-banner-02-mobile-content {
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--white);
}

#top-banner-02-wide-content {
    margin: 4rem 4rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color: var(--white);
}

#top-banner-02-mobile-content .normal {
    font-size: 3rem;
}

#top-banner-02-wide-content .normal{
    font-size: 4rem;
}



#top-banner-03-mobile {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

#top-banner-03-wide {
    padding: 0;
    display: none;
    align-items: start;
}

@media (min-width: 768px) {
    #top-banner-03-mobile {
        display: none;
    }

    #top-banner-03-wide {
        display: flex;
    }
}

#top-banner-03-mobile-content {
    margin: 3rem 3rem;
    display: block;
    /* width: 100%; */
    color: var(--white);
}

#top-banner-03-wide-content {
    margin: 4rem 4rem;
    width: 100vw;
    display: block;
    /* width: 100%; */
    color: var(--white);
}

#top-banner-03-mobile-content .normal {
    font-size: 1.6rem;
}

#top-banner-03-wide-content .normal {
    font-size: 2.4rem;
}



#top-banner-04-mobile {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

#top-banner-04-wide {
    padding: 0;
    display: none;
    align-items: end;
}

@media (min-width: 768px) {
    #top-banner-04-mobile {
        display: none;
    }

    #top-banner-04-wide {
        display: flex;
    }
}

#top-banner-04-mobile-content {
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color: var(--white);
}

#top-banner-04-wide-content {
    margin: 4rem 4rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    color: var(--white);
}

#top-banner-04-mobile-content .normal {
    padding: 0.4rem 0;
    font-size: 1.8rem;
}

.kakao-link-text {
    color: var(--kakao);
    border-bottom: 6px solid var(--kakao);
}

.kakao-link-text:hover {
    color: var(--kakao);
    opacity: 0.8;
}

#top-banner-04-wide-content .normal {
    padding: 0.5rem 0;
    font-size: 3rem;
}



#top-banner-05-mobile {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

#top-banner-05-wide {
    padding: 0;
    display: none;
    align-items: end;
}

@media (min-width: 768px) {
    #top-banner-05-mobile {
        display: none;
    }

    #top-banner-05-wide {
        display: flex;
    }
}

#top-banner-05-mobile-content {
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--white);
}

#top-banner-05-wide-content {
    margin: 4rem 4rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--white);
}

#top-banner-05-mobile-content .normal {
    font-size: 2.4rem;
}

#top-banner-05-mobile-content .location-text {
    color: var(--dark);
}

#top-banner-05-wide-content .normal {
    font-size: 4rem;
}

#top-banner-05-wide-content .location-text {
    color: var(--dark);
}



.full-banner-img-bg {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}



#top-banner-06-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#top-banner-06-wide {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 4rem;
    display: none;
    align-items: end;
    justify-content: center;
}

@media (min-width: 768px) {
    #top-banner-06-mobile {
        display: none;
    }

    #top-banner-06-wide {
        display: flex;
    }
}

#top-banner-06-mobile-content {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

#top-banner-06-wide-content {
    margin: 0 auto;
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

#top-banner-06-mobile-content .normal {
    font-size: 1.5rem;
}

#top-banner-06-wide-content .normal {
    font-size: 2rem;
}



#top-banner-07-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#top-banner-07-wide {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 4rem;
    display: none;
    align-items: end;
    justify-content: center;
}

@media (min-width: 768px) {
    #top-banner-07-mobile {
        display: none;
    }

    #top-banner-07-wide {
        display: flex;
    }
}

#top-banner-07-mobile-content {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

#top-banner-07-wide-content {
    margin: 0 auto;
    width: 100vw;
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

#top-banner-07-mobile-content .normal {
    font-size: 1.5rem;
}

#top-banner-07-wide-content .normal {
    font-size: 2rem;
}



#bottom-content-area {
    background-color: var(--white);
}


.content-container {
    margin: 0 auto;
    padding: 0 0.2rem;
    color: var(--dark);
}

@media (min-width: 768px) {
    .content-container {
        padding: 0 2rem;
    }
}

@media (min-width: 1024px) {
    .content-container {
        padding: 0 4rem;
    }
}


#company-intro {
    padding: 5rem 1rem;
    color: var(--primary-black);
    background-color: var(--white);
}

#company-intro .intro-text {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #company-intro .intro-text {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    #company-intro .intro-text {
        font-size: 1.8rem;
    }
}

#company-intro .intro-text-container {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    #company-intro .intro-text-container {
        gap: 0.6rem;
    }
}

.company-intro-core-msg {
    margin: 3rem 0;
    font-size: 1.4rem;
    text-align: center;
}

@media (min-width: 768px) {
    .company-intro-core-msg {
        font-size: 1.8rem;
    }
}

@media (min-width: 1024px) {
    .company-intro-core-msg {
        font-size: 2.4rem;
    }
}

.company-intro-counts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6rem;
}

@media (min-width: 768px) {
    .company-intro-counts-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .company-intro-counts-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


.company-intro-counts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.company-intro-counts-item .label {
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}

.company-intro-counts-item .count {
    font-size: 4rem;
}



#success-story-cards {
    padding: 4rem 0;
    width: 100vw;
    color: var(--primary-black);
    background-color: var(--red);
    overflow-x: hidden;
}

#success-story-cards .card-container {
    padding: 0 2rem;
    display: flex;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
}

@media (min-width: 768px) {
    #success-story-cards .card-container {
        gap: 2rem;
    }
}

#success-story-cards .card {
    width: 256px;
    height: 450px;
    padding: 2.2rem;
    background-color: var(--white);
}

#success-story-cards .card:hover {
    scale: 1.02;
    transition: all 0.5s ease;
}

#success-story-cards .card:hover .card-header-avatar img {
    transition: transform 0.3s;
    transform: rotateY(360deg);
}

#success-story-cards .card-layout {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

#success-story-cards .card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: 110px;
}

#success-story-cards .card-header-avatar {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    perspective: 1000px; /* 3D 효과를 위한 속성 */
}

#success-story-cards .card-header-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d; /* 3D 효과를 위한 속성 */
}

#success-story-cards .card-header-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#success-story-cards .card-header-info-name {
    font-size: 1.4rem;
}

#success-story-cards .card-header-info-job {
    font-size: 1rem;
}

#success-story-cards .card-header-info-profile {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    gap: 0.8rem;
}

#success-story-cards .card-header-info-profile-name {
    font-size: 1.2rem;
}

#success-story-cards .card-header-info-profile-name .profile-name-suffix {
    font-size: 1rem;
}

#success-story-cards .card-header-info-profile-info {
    padding-bottom: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.7rem;
    color: var(--dark);
}


#success-story-cards .card-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: 248px;
    overflow: hidden;
}

#success-story-cards .card-content-title {
    font-size: 1.2rem;
}

#success-story-cards .card-content-text {
    font-size: 1rem;
    line-height: 1.8;
}

#success-story-cards .more-to-see-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#success-story-cards .more-to-see-container .material-icons {
    font-size: 4rem;
}

#success-story-cards .more-to-see-container .more-to-see-text {
    font-size: 2rem;
}




.section-title {
    padding: 6rem 0;
    text-align: center; 
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 3rem;
    }
}


@media (min-width: 768px) {
    .section-title-mg {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}



#student-reviews {
    padding: 4rem 0;
    color: var(--primary-black);
    background-color: var(--white);
}


#student-reviews .summary-container {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

@media (min-width: 640px) {
    #student-reviews .summary-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    #student-reviews .summary-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


#student-reviews .badge-container {
    position: relative;
    padding: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
}

#student-reviews .badge-item-bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#student-reviews .badge-item-bg-box-rotate-animation {
    animation: box-rotate 120s linear infinite;
}

#student-reviews .badge-container:hover .badge-item-bg-box-rotate-animation  {
    animation: box-rotate 10s linear infinite;
}

#student-reviews .badge-container:active .badge-item-bg-box-rotate-animation  {
    animation: box-rotate 1s linear infinite;
}


@keyframes box-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#student-reviews .box {
    position: absolute;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(0deg); /* 기본 rotate는 개별 box에서 덮어씌움 */
}

#student-reviews .box-1 {
    transform: rotate(15deg);
}

#student-reviews .box-2 {
    transform: rotate(30deg);
}

#student-reviews .box-3 {
    transform: rotate(45deg);
}

#student-reviews .box-4 {
    transform: rotate(60deg);
}

#student-reviews .box-5 {
    transform: rotate(75deg);
}

#student-reviews .box-6 {
    transform: rotate(90deg);
}


#student-reviews .badge-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#student-reviews .badge-item-title {
    font-size: 1.2rem;
    text-align: center;
}

#student-reviews .badge-item-value {
    font-size: 6rem;
    text-align: center;
}

@media (min-width: 640px) {
    #student-reviews .badge-item-title {
        font-size: 1rem;
    }

    #student-reviews .badge-item-value {
        font-size: 4rem;
    }
}


@media (min-width: 768px) {
    #student-reviews .badge-item-title {
        font-size: 1.2rem;
    }

    #student-reviews .badge-item-value {
        font-size: 5rem;
    }
}


@media (min-width: 1024px) {
    #student-reviews .badge-item-title {
        font-size: 0.8rem;
    }

    #student-reviews .badge-item-value {
        font-size: 3.2rem;
    }
}


@media (min-width: 1280px) {
    #student-reviews .badge-item-title {
        font-size: 1rem;
    }

    #student-reviews .badge-item-value {
        font-size: 4rem;
    }
}


#student-reviews .reviews-container {
    padding: 4rem 0;
    width: 100vw;
    color: var(--primary-black);
    overflow-x: hidden;
}

#student-reviews .review-item-container {
    padding: 0 2rem;
    display: flex;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
}

@media (min-width: 768px) {
    #student-reviews .review-item-container {
        gap: 2rem;
    }
}

#student-reviews .review-item {
    color: var(--foreground);
    min-width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    #student-reviews .review-item {
        min-width: 384px;
    }
}

#student-reviews .review-item-text-container {
    position: relative;
    padding: 1.6rem;
    background-color: var(--white-gray);
}

#student-reviews .emoji-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 7rem;
    height: 7rem;
}

#student-reviews .emoji-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#student-reviews .review-item:hover {
    color: var(--white);
    background-color: var(--foreground);
}

#student-reviews .review-item:hover .review-item-text-container {
    background-color: var(--foreground);
}

#student-reviews .review-item:hover .emoji-container {
    animation: emoji-move 1.5s ease-in-out;
}

@keyframes emoji-move {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-20px) scale(1.2);
    }
    20% {
        transform: translateY(0) scale(1);
    }
    30% {
        transform: translateY(-15px) scale(1.2);
    }
    40% {
        transform: translateY(0) scale(1);
    }
}

#student-reviews .review-item:hover .review-item-title-date-container {
    color: rgba(255, 255, 255, 0.6);
}


#student-reviews .review-item-text {
    font-size: 1.2rem;
    line-height: 1.8;
    min-height: 280px;
    max-height: 280px;
    overflow: hidden;
}

#student-reviews .review-item-title-date-container {
    padding: 0.4rem 1.4rem 2rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    transition: all 0.3s ease;
}

#student-reviews .review-item-title {
    line-height: 1.8;
}

#student-reviews .review-item-date {
    text-align: right;
}


#student-reviews .review-item-more-to-see {
    height: 100%;
}

#student-reviews .more-to-see-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#student-reviews .more-to-see-container .material-icons {
    font-size: 4rem;
}

#student-reviews .more-to-see-container .more-to-see-text {
    font-size: 2rem;
}



#class-intro {
    padding: 4rem 0;
    color: var(--primary-black);
    background-color: var(--white);
}

#class-intro .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
    #class-intro .container {
        padding: 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (min-width: 1024px) {
    #class-intro .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
    #class-intro .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

#class-intro .class-item {
    padding: 2.8rem;
    aspect-ratio: 1/1;
    font-size: 1.2rem;
}

#class-intro .class-item:hover {
    background-color: var(--foreground);
    color: var(--white);
}

#class-intro .class-item-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

#class-intro .class-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#class-intro .class-item-title {
    font-size: 2rem;
}

#class-intro .class-item-header .material-icons {
    font-size: 2.4rem;
}

#class-intro .class-item-description {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #class-intro .class-item {
        padding: 1.8rem;
    }

    #class-intro .class-item-title {
        font-size: 1.8rem;
    }
    
    #class-intro .class-item-description {
        font-size: 1rem;
    }
}

@media (min-width: 1280px) {
    #class-intro .class-item {
        padding: 1.6rem;
    }
    
    #class-intro .class-item-title {
        font-size: 1.4rem;
    }
    
    #class-intro .class-item-description {
        font-size: 0.8rem;
    }
}

#class-intro .class-timetable {
    margin: 2rem auto;
    padding: 0 2rem;
    color: var(--primary-black);
}

#class-intro .class-timetable-container {
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-gray);
}

#class-intro .class-timetable-title {
    font-size: 1.4rem;
}

#class-intro .class-timetable-container .material-icons {
    font-size: 1.8rem;
}






#notice {
    padding: 4rem 0;
    color: var(--primary-black);
    background-color: var(--white);
}

#notice .container {
    margin: 0 auto;
}

#notice .notice-list {
    padding: 0 1rem;
    border-collapse: collapse;
}

#notice .notice-list-first {
    border-top: 1px solid var(--foreground);
}

#notice .notice-item {
    padding: 1.2rem;
    border-bottom: 1px solid var(--foreground);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    #notice .notice-item {
        flex-direction: row;
        align-items: center;
    }
}

#notice .notice-item:hover {
    background-color: var(--foreground);
    color: var(--white);
}

#notice .notice-item-title {
    font-size: 1.2rem;
}

#notice .notice-item-date {
    text-align: right;
    font-size: 1rem;
}

#notice .notice-more {
    padding: 3rem;
    display: flex;
    justify-content: end;
}

@media (min-width: 768px) {
    #notice .notice-more {
        padding-top: 4rem;
        justify-content: center;
    }
}

#notice .notice-more:hover {
    color: var(--red);
}

#notice .load-more-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



#faq {
    padding: 4rem 0;
    color: var(--primary-black);
    background-color: var(--white);
}

#faq .container {
    margin: 0 auto;
}

#faq-accordion {
    margin: 0 auto;
    padding: 0 1rem;
}

/* 아코디언 개별 항목 스타일 */
.faq-accordion-item {
    background-color: var(--white-gray);
    margin-bottom: 1rem;
    overflow: hidden;
}

/* 버튼 스타일 */
.faq-accordion-button {
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--foreground);
    background-color: var(--white-gray);
    font-size: 1.2rem;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.faq-accordion-button:hover {
    background-color: var(--foreground);
    color: var(--white);
}

.faq-accordion-button .icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

/* 체크박스를 활용한 아코디언 토글 */
.faq-accordion-content {
    padding: 0 1.6rem;
    max-height: 0;
    font-size: 1.2rem;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: var(--white-gray);
}

input[type="checkbox"] {
    display: none;
}

/* 체크되었을 때 */
input[type="checkbox"]:checked + .faq-accordion-button {
    background-color: var(--foreground);
    color: var(--white);
}

/* 체크되었을 때(아코디언 열림) */
input[type="checkbox"]:checked + .faq-accordion-button + .faq-accordion-content {
    max-height: 100px;
    padding: 1.6rem;
}

/* 체크되었을 때 아이콘 회전 */
input[type="checkbox"]:checked + .faq-accordion-button .icon {
    transform: rotate(90deg);
}




#partnership {
    padding: 4rem 0;
    color: var(--white);
    background-color: var(--orange);
}

#partnership .container {
    margin: 0 auto;
}

#partnership .contents {
    padding: 1.6rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #partnership .contents {
        padding: 1.6rem 4rem;
        /* font-size: 1.2rem; */
    }
}


#partnership .guide-text {
    margin: 1rem 0;
    line-height: 1.8;
}


#partnership .partnership-list {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

#partnership .partnership-list-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#partnership .partnership-list-item .material-icons {
    font-size: 1rem;
}

#partnership .partnership-mail {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
}




#human-resource {
    padding: 4rem 0;
    color: var(--kakao);
    background-color: var(--yellow);
}

#human-resource .container {
    margin: 0 auto;
}

#human-resource .contents {
    padding: 1.6rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #human-resource .contents {
        margin: 0 auto;
        padding: 1.6rem 4rem;
        font-size: 1.2rem;
    }
}

#human-resource .guide-text {
    line-height: 1.8;
}

#human-resource .description-item {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    #human-resource .description-item {
        flex-direction: row;
        align-items: start;
    }
}

@media (min-width: 768px) {
    #human-resource .description-title {
        margin: 0;
        padding: 0.2rem 0;
        min-width: 16%;
    }
}

#human-resource .contents .description-text {
    display: flex;
    align-items: start;
    gap: 0.8rem;
    line-height: 1.8;
}

#human-resource .contents .description-text .material-icons {
    padding-top: 0.4rem;
    font-size: 1rem;
}

@media (min-width: 768px) {
    #human-resource .contents .description-text .material-icons {
        padding-top: 0.6rem;
        font-size: 1.2rem;
    }
}









#location {
    padding: 4rem 0;
    color: var(--primary-black);
    overflow-x: hidden;
}

#location .container {
    margin: 0 auto;
}

#location .contents {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    #location .contents {
        padding: 4rem;
        flex-direction: row;
        gap: 1rem;
    }
}

#location .map-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    #location .map-container {
        max-width: 60%;
        border: 1px solid var(--secondary-black);
    }
}

#location .map-container img {
    width: 100%;
    height: 100%;
    scale: 1;
    object-fit: cover;
    transition: all 0.5s ease;
}

#location .map-container img:hover {
    scale: 1.2;
}


#location .location-info {
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#location .location-info-item {
    display: flex;
    align-items: start;
    gap: 1rem;
    font-size: 1rem;
}

#location .location-info-item .material-icons {
    padding-top: 0.2rem;
    font-size: 1.1rem;
}


@media (min-width: 768px) {
    #location .location-info {
        padding: 1.5rem 1.5rem;
    }
}

@media (min-width: 1280px) {
    #location .location-info-item {
        font-size: 1.3rem;
    }

    #location .location-info-item .material-icons {
        padding-top: 0.4rem;
        font-size: 1.5rem;
    }
}

#location .address, .email {
    cursor: pointer;
}

#location .address:hover, .email:hover {
    text-decoration: underline;
}





/* Footer */
#footer {
    color: var(--white);
    background-color: var(--primary-black);
}

#footer .container {
    padding: 2.4rem;
}

@media (min-width: 768px) {
    #footer .container {
        padding: 4rem;;
    }
}

#footer .logo-info-sns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    #footer .logo-info-sns {
        grid-template-columns: repeat(2, 1fr);
    }
}

#footer .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}

#footer .logo-info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

#footer .info-line {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#footer .sns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#footer .sns-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 768px) {
    #footer .sns-container {
        justify-content: flex-end;
    }
}

#footer .sns-icon {
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    transition: all 0.3s ease;
}

#footer .sns-icon:hover {
    scale: 1.2;
}

#copyright {
    margin-top: 2rem; 
    padding-top: 2rem;
    text-align: center;
    font-size: 1rem;
}

.footer-inner-border {
    opacity: 0.4;
    border-top: 1px solid var(--white);
}

@media (min-width: 768px) {
    .footer-inner-border {
        border: none;
    }
}