/* Font Pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* Root Variables */
:root {
    --background: #FFFFFF;
    --foreground: #313131;
    --white: #FFFFFF;
    --dark: #313131;
    --gray: #ECECEC;
    --gray-dark: #E5E5E5;
    --max-width-1280: 1280px;
    --max-width-1440: 1440px;
}

/* Global Styles */
* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:visited {
    color: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: var(--background);
    color: var(--foreground);
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE & Edge */
    overflow: visible;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
}

.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.fill {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


.section-title {
    margin: 4rem 0 2rem 0;
    font-size: 1.8rem;
    text-align: center;
}

@media (min-width: 768px) {
    .section-title {
        margin: 6rem 0 4rem 0;
        font-size: 2.4rem;
        text-align: center;
    }
}


/* =============================
    Navigation Styles
============================= */

#top-nav {
    position: sticky;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--gray);
    z-index: 999;
}

#top-nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.5rem;
    position: relative;
    max-width: var(--max-width-1440);
    margin: 0 auto;
}

#top-nav .logo-container {
    width: 6rem;
    overflow: hidden;
}

#top-nav .logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#top-nav .logo-container .logo-img-simple {
    display: block;
}

#top-nav .logo-container .logo-img-full {
    display: none;
}

/* .top-nav-logo:hover {
    animation: top-nav-logo-hover 1.5s ease;
}

@keyframes top-nav-logo-hover {
    0%, 100% { transform: scale(1); }
    10% { transform: scale(1.3); }
    20% { transform: scale(1); }
    30% { transform: scale(1.2); }
    40% { transform: scale(1); }
    50% { transform: scale(1.1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    90% { transform: scale(1.02); }
} */


#top-nav .hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1.6rem;
    height: 0.6rem;
    background: none;
    border: none;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
}

#top-nav .hamburger div {
    width: 100%;
    height: 0.1rem;
    background-color: var(--dark);
    transition: all 0.3s ease;
    transform-origin: center;
}

#top-nav .hamburger.active div:nth-child(1) {
    transform: translateY(0.25rem) rotate(45deg);
}

#top-nav .hamburger.active div:nth-child(2) {
    transform: translateY(-0.25rem) rotate(-45deg);
}

#top-nav .menu-items {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 2rem 1rem;
    transition: max-height 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#top-nav .menu-items .menu-item {
    margin: 0.6rem 0;
    text-decoration: none;
    color: var(--dark);
    font-size: 1rem;
    transition: all 0.3s ease;
}

#top-nav .menu-items .menu-item:hover {
    scale: 1.1;
}

#top-nav .seperator {
    display: none;
    border-left: 1px solid var(--dark);
    height: 1rem;
    opacity: 0.4;
}

#top-nav .menu-items.show {
    display: flex;
    background: rgba(255, 255, 255);
}

#top-nav .special-menus {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

#top-nav .special-menus .event-link, #top-nav .special-menus .consultation-link {
    background: var(--dark);
    border-radius: 0.2rem;
    color: var(--white);
    padding: 0.2rem 0.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    #top-nav {
        padding: 1rem 2rem;
    }

    #top-nav .nav-container {
        padding: 0.4rem 1.5rem;
    }

    #top-nav .logo-container {
        width: 7rem;
        overflow: hidden;
    }

    #top-nav .logo-container .logo-img-simple {
        display: none;
    }
    
    #top-nav .logo-container .logo-img-full {
        display: block;
    }

    #top-nav .hamburger {
        display: none;
    }

    #top-nav .menu-items {
        display: flex !important;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        gap: 1.6rem;
        border-bottom: none;
        background: none;
    }

    #top-nav .menu-items .menu-item {
        margin: 0;
        font-size: 0.8rem;
    }

    #top-nav .seperator {
        display: block;
    }

    #top-nav .special-menus {
        flex-direction: row;
        gap: 0.8rem;
    }
}


/*************************************************************************************************
    Slim Top Banner
**************************************************************************************************/

#slim-top-banner {
    padding: 2rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
    position: relative;
}

#slim-top-banner .container {
    margin: 0 auto;
    max-width: var(--max-width-1440);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    font-size: 1rem;
    font-weight: 200;
    text-align: start;
    min-height: 3rem;
}

#slim-top-banner .slim-top-banner-rolling {
    min-height: 2rem;
    overflow: hidden;
}

.slim-top-banner-text {
    margin: 0;
    height: 2rem;
    line-height: 2rem;
    transition: transform 0.5s ease;
}

.emphasize {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 0rem;
}

@media (min-width: 768px) {
    #slim-top-banner {
        padding: 3.2rem;
        height: 7rem;
    }

    #slim-top-banner .container {
        font-size: 1rem;
        min-height: 3rem;
    }

    .emphasize {
        font-size: 1rem;
    }
}

/*************************************************************************************************
    Hero Section
    Background Pattern https://www.magicpattern.design/tools/css-backgrounds
**************************************************************************************************/

#hero-section {
    padding: 4rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* Line Patter Left */
#hero-section::before {
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 500%;
    opacity: 0.4;
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, var(--dark), var(--dark) 0.4px, var(--white) 0, var(--white) 50%);
    z-index: -2;
    animation: rotateBgCW 36s linear infinite;
    transform-origin: center;
}  

/* Line Patter Right */
#hero-section::after {
    content: "";
    position: absolute;
    top: -100%;
    left: 100%;
    width: 100%;
    height: 500%;
    opacity: 0.4;
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, var(--dark), var(--dark) 0.4px, var(--white) 0, var(--white) 50%);
    z-index: -3;
    animation: rotateBgCCW 24s linear infinite;
    transform-origin: center;
}

@keyframes rotateBgCW {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateBgCCW {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/* 배경을 검은색으로 하고 조명처럼 하얀색 원이 배너를 돌아다니는 애니메이션 */
/* #hero-section::before {
    content: "";
    position: absolute;
    top: -500%;
    left: -80%;
    width: 100%;
    height: 1100%;
    background-color: black;
    opacity: 1;
    z-index: 1;
    animation: moveBlackBg 60s linear infinite;
}

@keyframes moveBlackBg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

/* #hero-section::after {
    content: "";
    position: absolute;
    top: -500%;
    left: 100%;
    width: 100%;
    height: 1100%;
    background-color: black;
    opacity: 1;
    z-index: 1;
    animation: moveBlackBg 60s linear infinite;
}

@keyframes moveBlackBg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

#hero-section .container {
    margin: 0 auto;
    max-width: var(--max-width-1440);
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    gap: 2rem;
}

#hero-section .lc {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

#hero-section .lc .sub-title {
    margin: 1.4rem 0;
    font-size: 1.4rem;
    font-weight: 900;
}

#hero-section .lc ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.8rem;
}

#hero-section .lc ul li {
    font-size: 1.4rem;
    font-weight: 200;
}

#hero-section .lc .success-rolling {
    margin: 1.2rem 0 0 0;
    height: 2rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.2rem;
}

#hero-section .lc .success-rolling .success {
    height: 2rem;
    min-height: 2rem;
    padding: 0.4rem 0.8rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.4rem;
    font-size: 0.8rem;
    background-color: var(--white);
    border-radius: 0.4rem;
    border: 1px solid var(--gray);
    transition: transform 0.5s ease;
}

#hero-section .lc .success .company-logo {
    max-height: 1rem;
    width: auto;
}

#hero-section .lc .success .company-logo img {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
    object-fit: contain;
}

#hero-section .lc .success .success-arrow {
    font-size: 1rem;
}

#hero-section .rc {
    display: none;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 1rem;
}

#hero-section .rc .sub-msg {
    margin: 1.2rem 0;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: end;
}

#hero-section .rc .main-msg {
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    align-items: end;
    gap: 1.8rem;
    font-weight: 600;
}

#hero-section .rc .main-msg .studio-low {
    font-weight: 900;
}

@media (min-width: 768px) {
    #hero-section {
        padding: 4rem;
    }

    /* Line Patter Left */
    #hero-section::before {
        top: -100%;
        left: -250%;
        width: 300%;
        height: 300%;
        animation: rotateBgCW 60s linear infinite;
        transform-origin: center;
    }  

    /* Line Patter Right */
    #hero-section::after {
        top: -100%;
        left: 0%;
        width: 300%;
        height: 300%;
        animation: rotateBgCCW 30s linear infinite;
        transform-origin: center;
    }

    #hero-section .lc .sub-title {
        font-size: 1rem;
    }
    
    #hero-section .lc ul {
        gap: 0.4rem;
    }
    
    #hero-section .lc ul li {
        font-size: 0.9rem;
    }
    
    #hero-section .rc {
        display: flex;
    }
}

@media (min-width: 1024px) {
    #hero-section {
        padding: 4rem 5rem;
    }

    /* Line Patter Left */
    #hero-section::before {
        top: -100%;
        left: -200%;
        width: 300%;
        height: 300%;
        animation: rotateBgCW 60s linear infinite;
        transform-origin: center;
    }  

    /* Line Patter Right */
    #hero-section::after {
        top: -100%;
        left: 0%;
        width: 300%;
        height: 300%;
        animation: rotateBgCCW 30s linear infinite;
        transform-origin: center;
    }
}


/*************************************************************************************************
    Key Factors Section
**************************************************************************************************/

#key-factors {
    overflow: hidden;
}

#key-factors .container {
    margin: 0 auto;
    padding: 3rem 0;
    max-width: var(--max-width-1440);
    position: relative;
}

#key-factors .logo-cloud {
    position: relative; /* 기준이 되는 박스 */
    min-width: 100%;
    height: 100%;
    min-height: 100vh;
    pointer-events: none;
}

#key-factors .logo-cloud .logo {
    max-width: 3.2rem;
    max-height: 3.2rem;
    border-radius: 1rem;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.1);
    opacity: 0.2;
}

#key-factors .logo-cloud .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 또는 scale-down */
}


#key-factors .core-values {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#key-factors .core-values .core-value-item {
    margin-top: 0.8rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(to top, #e2e2e2 40%, transparent 50%);
    border-radius: 0.1rem;
    opacity: 0;
}

#key-factors .core-values .core-value-item:nth-child(2) {
    background: linear-gradient(to top, #eeeeee 40%, transparent 50%);
}

#key-factors .core-values .core-value-item:nth-child(4) {
    background: linear-gradient(to top, #eeeeee 40%, transparent 50%);
}

#key-factors .core-values .core-value-highlight {
    font-size: 2rem;
}

@media (min-width: 768px) {
    #key-factors {
        padding: 1rem 2rem;
    }

    #key-factors .logo-cloud .logo {
        max-width: 3.6rem;
        max-height: 3.6rem;
    }

    #key-factors .logo-cloud .logo-cloud-item-0 {
        animation: ellipticalMotion-0 30s linear infinite;
        transform-origin: center center; 
    }
    @keyframes ellipticalMotion-0 {
        0% {
            transform: rotate(0deg) translateX(3rem) translateY(3rem) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translateX(3rem) translateY(3rem) rotate(-360deg);
        }
    }
    
    #key-factors .logo-cloud .logo-cloud-item-1 {
        animation: rotateAround-1 20s linear infinite;
        transform-origin: center center; /* 원의 반지름 위치 */
    }
    @keyframes rotateAround-1 {
        0% {
            transform: rotate(360deg) translateX(-2rem) translateY(2rem) rotate(-360deg);
        }
        100% {
            transform: rotate(0deg) translateX(-2rem) translateY(2rem) rotate(0deg);
        }
    }
    
    #key-factors .logo-cloud .logo-cloud-item-2 {
        animation: ellipticalMotion-2 40s linear infinite;
        transform-origin: top right; /* 원의 반지름 위치 */
    }
    @keyframes ellipticalMotion-2 {
        0% {
            transform: rotate(0deg) translateX(4rem) translateY(-1rem) rotate(0deg);
        }
        100% {
            transform: rotate(-360deg) translateX(4rem) translateY(-1rem) rotate(360deg);
        }
    }
    
    #key-factors .logo-cloud .logo-cloud-item-3 {
        animation: rotateAround-3 30s linear infinite;
        transform-origin: center center; /* 원의 반지름 위치 */
    }
    @keyframes rotateAround-3 {
        0% {
            transform: rotate(0deg) translateX(-3rem) translateY(0rem) rotate(0deg);
        }
        100% {
            transform: rotate(-360deg) translateX(-3rem) translateY(0rem) rotate(360deg);
        }
    }
    
    #key-factors .logo-cloud .logo-cloud-item-4 {
        animation: ellipticalMotion-4 20s linear infinite;
        transform-origin: center center; /* 원의 반지름 위치 */
    }
    @keyframes ellipticalMotion-4 {
        0% {
            transform: rotate(360deg) translateX(-3rem) translateY(1rem) rotate(-360deg);
        }
        100% {
            transform: rotate(0deg) translateX(-3rem) translateY(1rem) rotate(0deg);
        }
    }
    
    #key-factors .logo-cloud .logo-cloud-item-5 {
        animation: rotateAround-5 30s linear infinite;
        transform-origin: center center; /* 원의 반지름 위치 */
    }
    @keyframes rotateAround-5 {
        0% {
            transform: rotate(0deg) translateX(-4rem) translateY(1rem) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translateX(-4rem) translateY(1rem) rotate(-360deg);
        }
    }
    
    #key-factors .logo-cloud .logo-cloud-item-6 {
        animation: ellipticalMotion-6 20s linear infinite;
        transform-origin: center center; /* 원의 반지름 위치 */
    }
    @keyframes ellipticalMotion-6 {
        0% {
            transform: rotate(0deg) translateX(-2rem) translateY(1rem) rotate(0deg);
        }
        100% {
            transform: rotate(-360deg) translateX(-2rem) translateY(1rem) rotate(360deg);
        }
    }
    
    #key-factors .logo-cloud .logo-cloud-item-7 {
        animation: rotateAround-7 20s linear infinite;
        transform-origin: center center; /* 원의 반지름 위치 */
    }
    @keyframes rotateAround-7 {
        0% {
            transform: rotate(0deg) translateX(-4rem) translateY(1rem) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translateX(-2rem) translateY(-2rem) rotate(-360deg);
        }
    }
    
    #key-factors .logo-cloud .logo-cloud-item-8 {
        animation: ellipticalMotion-8 40s linear infinite;
        transform-origin: center center; /* 원의 반지름 위치 */
    }
    @keyframes ellipticalMotion-8 {
        0% {
            transform: rotate(0deg) translateX(-3rem) translateY(2rem) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translateX(-3rem) translateY(2rem) rotate(-360deg);
        }
    }
    
    #key-factors .logo-cloud .logo-cloud-item-9 {
        animation: rotateAround-9 30s linear infinite;
        transform-origin: center center; /* 원의 반지름 위치 */
    }
    @keyframes rotateAround-9 {
        0% {
            transform: rotate(0deg) translateX(1rem) translateY(1rem) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translateX(1rem) translateY(1rem) rotate(-360deg);
        }
    }
    
    #key-factors .logo-cloud .logo-cloud-item-10 {
        animation: ellipticalMotion-10 40s linear infinite;
        transform-origin: center center; /* 원의 반지름 위치 */
    }
    @keyframes ellipticalMotion-10 {
        0% {
            transform: rotate(0deg) translateX(1rem) translateY(1rem) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translateX(1rem) translateY(1rem) rotate(-360deg);
        }
    }
    
    #key-factors .logo-cloud .logo-cloud-item-11 {
        animation: rotateAround-11 30s linear infinite;
        transform-origin: center center; /* 원의 반지름 위치 */
    }
    @keyframes rotateAround-11 {
        0% {
            transform: rotate(0deg) translateX(1rem) translateY(1rem) rotate(0deg);
        }
        100% {
            transform: rotate(360deg) translateX(1rem) translateY(1rem) rotate(-360deg);
        }
    }    

    #key-factors .core-values .core-value-item {
        flex-direction: row;
    }

    #key-factors .core-values .core-value-item {
        font-size: 1.8rem;
    }
    
    #key-factors .core-values .core-value-highlight {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    #key-factors {
        padding: 1rem 2rem;
    }

    #key-factors .logo-cloud .logo {
        max-width: 4.8rem;
        max-height: 4.8rem;
    }

    #key-factors .core-values .core-value-item {
        font-size: 2rem;
    }
    
    #key-factors .core-values .core-value-highlight {
        font-size: 2.4rem;
    }
}

/*************************************************************************************************
    Success Story Cards Section
**************************************************************************************************/

#success-story-cards {
    position: relative;
    background-color: transparent;
    z-index: 0;
    width: 100vw;
    overflow: hidden;
}

#success-story-cards .container {
    margin: 0 auto;
    padding: 3rem 0;
    position: relative;
}

#success-story-cards .card-container::-webkit-scrollbar {
    display: none; /* Chrome */
}

#success-story-cards .cards-list {
    padding: 0 2.4rem;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

/* #success-story-cards .card-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--white);
    opacity: 1;
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, var(--gray-dark), var(--gray-dark) 0.4px, var(--white) 0, var(--white) 50%);
    z-index: -1;
} */

#success-story-cards .card {
    padding: 2rem 1.6rem;
    width: 300px;
    min-width: 300px;
    height: 340px;
    min-height: 340px;
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, var(--gray-dark), var(--gray-dark) 0.4px, var(--white) 0, var(--white) 50%);
    z-index: -1;
    transition: all 0.5s ease;
    border-radius: 1rem;
}

#success-story-cards .card:hover {
    scale: 1.02;
}

#success-story-cards .card:hover .card-header-logo img {
    transition: transform 0.3s;
    transform: rotateY(360deg);
}

#success-story-cards .card-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6rem;
}

#success-story-cards .card-header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    min-height: 60px;
}

#success-story-cards .card-header-logo {
    /* padding: 0.4rem 0.6rem; */
    width: 7rem;
    min-width: 7rem;
    height: 2.8rem;
    overflow: hidden;
    background-color: var(--white);
    border: 2px solid var(--gray);
    border-radius: 8px;
}

#success-story-cards .card-header-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform-style: preserve-3d;
}

#success-story-cards .card-header-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#success-story-cards .card-header-info-name {
    font-size: 1rem;
    font-weight: 700;
}

#success-story-cards .card-header-info-job {
    font-size: 0.8rem;
    font-weight: 600;
}

#success-story-cards .card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
}

#success-story-cards .card-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    /* height: 248px; */
    overflow: hidden;
}

#success-story-cards .card-content-title {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.8;
}

#success-story-cards .card-content-text {
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.8;
}

#success-story-cards .card-footer-text {
    font-size: 0.8rem;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: var(--foreground);
    opacity: 0.5;
}

#success-story-cards .more-to-see-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#success-story-cards .more-to-see-container .material-symbols-outlined {
    font-size: 4rem;
}

#success-story-cards .more-to-see-container .more-to-see-text {
    font-size: 2rem;
}

@media (min-width: 768px) {
    #success-story-cards {
        padding: 2.8rem 0;
    }

    #success-story-cards .card {
        padding: 2rem 2rem;
        width: 300px;
        min-width: 300px;
        height: 360px;
        min-height: 360px;
    }

    #success-story-cards .card-header {
        min-height: 80px;
    }
    
    #success-story-cards .card-header-logo {
        /* padding: 0.4rem 0.6rem; */
        width: 6rem;
        min-width: 6rem;
        height: 3rem;
        overflow: hidden;
        background-color: var(--white);
    }

    #success-story-cards .card-header-info-name {
        font-size: 1rem;
    }

    #success-story-cards .card-content-title {
        font-size: 0.9rem;
    }

    #success-story-cards .card-content-text {
        font-size: 0.9rem;
    }
}

/*************************************************************************************************
    Class Intro Section
**************************************************************************************************/

#class-intro {
    padding: 4rem 0;
}

#class-intro .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    max-width: var(--max-width-1440);
}

#class-intro .class-intro-img-container {
    margin-top: 2.4rem;
    padding: 0 1.6rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
}

#class-intro .class-intro-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: none; /* 기존 transition 제거 */
}

#class-intro .class-intro-img-container img:hover {
    animation: spring-bounce 0.5s ease-out;
}

@keyframes spring-bounce {
    0%   { transform: scale(1); }
    25%  { transform: scale(1.1); }
    50%  { transform: scale(0.95); }
    70%  { transform: scale(1.05); }
    100% { transform: scale(1); }
}

#class-intro .class-title {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

#class-intro .class-description {
    margin-top: 0.8rem;
    text-align: center;
}

#class-intro .class-description p {
    margin-top: 0.4rem;
    font-size: 1rem;
    font-weight: 200;
}

#class-intro .class-timetable {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#class-intro .class-timetable-container {
    padding: 1.2rem 2.4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--dark);
    border-radius: 4rem;
}

/* 시간표 hover 시 색 반전 */
#class-intro .class-timetable-container:hover {
    opacity: 0.8;
}

#class-intro .class-timetable-title {
    font-size: 1rem;
}

#class-intro .class-timetable-container .material-symbols-outlined {
    font-size: 1.4rem;
}

/* 태블릿 이상일 때 여백 조정 */
@media (min-width: 768px) {
    #class-intro {
        padding: 4rem 2rem;
    }

    #class-intro .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #class-intro .class-intro-img-container {
        margin-top: 1.6rem;
        padding: 0;
    }

    #class-intro .class-timetable-title {
        font-size: 1.2rem;
    }
}

/* 태블릿 이상일 때 여백 조정 */
@media (min-width: 1024px) {
    #class-intro {
        padding: 4rem 4rem;
    }

    #class-intro .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    #class-intro .class-description {
        margin-top: 0.8rem;
        text-align: center;
    }
    
    #class-intro .class-description p {
        margin-top: 0.4rem;
        font-size: 0.9rem;
        font-weight: 200;
    }

    #class-intro .class-timetable {
        /* margin: 1rem auto;
        padding: 0 2rem; */
    }
}

/* 태블릿 이상일 때 여백 조정 */
@media (min-width: 1280px) {
    #class-intro {
        padding: 4rem;
    }

    #class-intro .container {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    #class-intro .class-timetable {
        /* margin: 1rem auto;
        padding: 0 2rem; */
    }
}

/*************************************************************************************************
    Logo Sliding Section
**************************************************************************************************/

#logo-sliding {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    overflow: hidden;
}

#logo-sliding .container-1,
#logo-sliding .container-2,
#logo-sliding .container-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
    animation: slide-right 60s linear infinite; /* 기본은 오른쪽으로 흐름 */
}

#logo-sliding .container-2 {
    animation: slide-left 60s linear infinite;
}

#logo-sliding .logo-container {
    height: 26px;
    flex: 0 0 auto; /* 줄어들거나 늘어나지 않도록 고정 */
}

#logo-sliding .logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes slide-right {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@media (min-width: 768px) {
    #logo-sliding .container-1,
    #logo-sliding .container-2,
    #logo-sliding .container-3 {
        gap: 5rem;
    }
}



/*************************************************************************************************
    카카오 문의 버튼
**************************************************************************************************/

#reservation {
    padding: 4rem 0;
    opacity: 1;
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(90deg, var(--gray-dark), var(--gray-dark) 0.4px, var(--white) 0, var(--white) 50%);
}

#reservation .container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    font-size: 1.2rem;
    font-weight: 700;
    /* padding: 2rem; */
    /* background-color: var(--white); */
    /* background-color: #E9124C; */
}

#reservation .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    
}

#reservation .title-container :nth-child(2) {
    padding: 0 0.6rem;
    background: linear-gradient(to top, #ffffff 50%, transparent 50%);
    border-radius: 0.1rem;
}

#reservation .button-container {
    padding: 0.4rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--dark);
    border-radius: 0.4rem;
    transition: all 0.5s ease;
}

#reservation .button-container:hover {
    scale: 1.05;
}

#reservation .arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
}

#reservation .arrow-container .material-symbols-outlined {
    font-size: 1rem;
}


/*************************************************************************************************
    Student Reviews Section
**************************************************************************************************/

#student-reviews {
    position: relative;
    overflow: hidden;
}

#student-reviews {
    padding: 4rem 2rem;
}

#student-reviews .masonry-item {
    padding: 1rem;
    background: white;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--gray);
}

#student-reviews .item-4, .item-5, .item-6, .item-7, .item-8 {
    display: none;
}

#student-reviews .review-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
    gap: 0.8rem;
}

#student-reviews .review-avatar-container {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

#student-reviews .review-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#student-reviews .review-name-date-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 0.4rem;
}

#student-reviews .review-name {
    font-size: 1rem;
    font-weight: 700;
}

#student-reviews .review-date {
    opacity: 0.5;
    font-size: 0.8rem;
}

#student-reviews .review-body {
    padding: 0.8rem;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.8;
}

#student-reviews .review-position {
    padding: 0.8rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
}

#student-reviews .review-position:hover {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: var(--foreground);
}

@media (min-width: 768px) {
    #masonry-container {
        display: flex;
        width: 100%;
        gap: 1rem;
        align-items: flex-start;
        max-width: var(--max-width-1280);
        margin: 0 auto;
    }

    #masonry-container .column {
        width: calc((100% - 2rem) / 2); /* 열 3개, gap 2개 = 2rem */
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    #student-reviews .masonry-item {
        padding: 1rem;
        background: white;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
        border: 1px solid var(--gray);
        break-inside: avoid;
        line-height: 1.5;
    }

    #student-reviews .item-4, .item-5, .item-6, .item-7, .item-8 {
        display: block;
    }
}

@media (min-width: 1024px) {
    #masonry-container {
        display: flex;
        width: 100%;
        gap: 1rem;
        align-items: flex-start;
        max-width: var(--max-width-1280);
        margin: 0 auto;
    }

    #masonry-container .column {
        width: calc((100% - 2rem) / 4); /* 열 3개, gap 2개 = 2rem */
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    #student-reviews .masonry-item {
        padding: 1rem;
        background: white;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
        border: 1px solid var(--gray);
        break-inside: avoid;
        line-height: 1.5;
    }
}


/* ===============================
    공지사항 영역 (Notice Section)
================================ */

#notice {
    padding: 4rem 1rem;
    max-width: var(--max-width-1280);
    margin: 0 auto;
}

.notice-list {
    border-top: 1px solid var(--gray);
}

.notice-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    border-bottom: 1px solid var(--gray);
    text-decoration: none;
    color: inherit;
    transition: background 0.2s;
}

.notice-item:hover {
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, var(--gray-dark), var(--gray-dark) 0.4px, var(--white) 0, var(--white) 50%);
    z-index: -1;
}

.notice-item-title {
    font-size: 1.2rem;
}

.notice-item-date {
    font-size: 0.9rem;
    white-space: nowrap;
    font-weight: 200;
}

.notice-more {
    text-align: right;
    margin-top: 1.5rem;
}

.load-more-button {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.95rem;
    color: #007aff;
    cursor: pointer;
    text-decoration: none;
}

.load-more-button:hover {
    text-decoration: underline;
}

.material-icons.icon {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1;
}

@media (min-width: 768px) {
    .notice-item {
        padding: 2rem;
    }
}


/* ===============================
    자주 묻는 질문 (FAQ Section)
================================ */

#faq {
    padding: 4rem 0;
}

#faq .container {
    margin: 0 auto;
    max-width: var(--max-width-1280);
}

#faq-accordion {
    margin: 0 auto;
    padding: 0 1rem;
}

.faq-accordion-item {
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, var(--gray-dark), var(--gray-dark) 0.4px, var(--white) 0, var(--white) 50%);
    z-index: -1;
    margin-bottom: 1rem;
    overflow: hidden;
}

.faq-accordion-button {
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, var(--gray-dark), var(--gray-dark) 0.4px, var(--white) 0, var(--white) 50%);
    z-index: -1;
    font-size: 1.2rem;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.faq-accordion-button:hover {
    background-color: var(--dark);
    /* color: var(--white); */
}

.faq-accordion-button .icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.faq-accordion-content {
    padding: 0 1.6rem;
    max-height: 0;
    font-size: 1.2rem;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: var(--white-gray);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .faq-accordion-button {
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, var(--gray), var(--gray) 0.4px, var(--white) 0, var(--white) 50%);
    z-index: -1;
    font-weight: 700;
}

input[type="checkbox"]:checked + .faq-accordion-button + .faq-accordion-content {
    max-height: 100px;
    padding: 1.6rem;
}

input[type="checkbox"]:checked + .faq-accordion-button .icon {
    transform: rotate(180deg);
}

/* ===============================
    오시는 길 (Location Section)
================================ */

#location {
    padding: 4rem 0;
    overflow-x: hidden;
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(-45deg, var(--gray-dark), var(--gray-dark) 0.4px, var(--white) 0, var(--white) 50%);
}

#location .container {
    margin: 0 auto;
    font-size: 1.2rem;
    max-width: var(--max-width-1280);
}

#location .contents {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#location .map-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#location .map-container img {
    width: 100%;
    height: 100%;
    scale: 1;
    object-fit: cover;
    transition: all 0.5s ease;
}

#location .map-container img:hover {
    scale: 1.2;
}

#location .location-info {
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#location .location-info-item {
    display: flex;
    align-items: start;
    gap: 1rem;
    font-size: 1rem;
}

#location .location-info-item .material-symbols-outlined {
    padding-top: 0.2rem;
    font-size: 1.1rem;
}

@media (min-width: 768px) {
    #location .contents {
        padding: 4rem;
        flex-direction: row;
        gap: 1rem;
    }

    #location .map-container {
        max-width: 60%;
        border: 1px solid var(--secondary-black);
    }

    #location .location-info {
        padding: 1.5rem 1.5rem;
    }
}

@media (min-width: 1280px) {
    #location .location-info-item {
        font-size: 1.1rem;
        line-height: 1.8;
    }

    #location .location-info-item .material-symbols-outlined{
        padding-top: 0.4rem;
        font-size: 1.3rem;
    }
}

#location .address, .email {
    cursor: pointer;
}

#location .address:hover, .email:hover {
    text-decoration: underline;
}


/* ===============================
    제휴 문의 영역 (Partnership)
================================ */

#partnership {
    padding: 4rem 0;
    /* background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(0deg, var(--gray-dark), var(--gray-dark) 0.4px, var(--white) 0, var(--white) 50%); */
    z-index: -2;
}

#partnership .container {
    margin: 0 auto;
    max-width: var(--max-width-1280);
}

#partnership .contents {
    padding: 1.6rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #partnership .contents {
        padding: 1.6rem 4rem;
    }
}

#partnership .guide-text {
    margin: 1rem 0;
    line-height: 1.8;
}

#partnership .partnership-list {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

#partnership .partnership-list-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#partnership .partnership-list-item .material-icons {
    font-size: 1rem;
}

#partnership .partnership-mail {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
}


/* ===============================
    인재 채용 영역 (Human Resource)
================================ */

#human-resource {
    padding: 4rem 0;
    background-color: #e5e5f7;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(0deg, var(--gray-dark), var(--gray-dark) 0.4px, var(--white) 0, var(--white) 50%);
}

#human-resource .container {
    margin: 0 auto;
    max-width: var(--max-width-1280);
}

#human-resource .contents {
    padding: 1.6rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #human-resource .contents {
        margin: 0 auto;
        padding: 1.6rem 4rem;
        font-size: 1.2rem;
    }
}

#human-resource .guide-text {
    line-height: 1.8;
}

#human-resource .description-item {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    #human-resource .description-item {
        flex-direction: row;
        align-items: start;
    }
}

@media (min-width: 768px) {
    #human-resource .description-title {
        margin: 0;
        padding: 0.2rem 0;
        min-width: 16%;
    }
}

#human-resource .contents .description-text {
    display: flex;
    align-items: start;
    gap: 0.8rem;
    line-height: 1.8;
}

#human-resource .contents .description-text .material-symbols-outlined {
    padding-top: 0.4rem;
    font-size: 1rem;
}

@media (min-width: 768px) {
    #human-resource .contents .description-text .material-symbols-outlined {
        padding-top: 0.6rem;
        font-size: 1.2rem;
    }
}


/* ===============================
    푸터 영역 (Footer Section)
================================ */

#footer {
    color: var(--white);
    background-color: var(--foreground);

}

#footer .container {
    padding: 2.4rem;
    margin: 0 auto;
    max-width: var(--max-width-1440);
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    #footer .container {
        padding: 4rem;
    }
}

#footer .logo-info-sns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    #footer .logo-info-sns {
        grid-template-columns: repeat(2, 1fr);
    }
}

#footer .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}

#footer .logo-info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

#footer .info-line {
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0.3;
}

#footer .sns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#footer .sns-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 768px) {
    #footer .sns-container {
        justify-content: flex-end;
    }
}

#footer .sns-icon {
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    transition: all 0.3s ease;
}

#footer .sns-icon:hover {
    scale: 1.2;
}

#copyright {
    margin-top: 2rem; 
    padding-top: 2rem;
    text-align: center;
    font-size: 1rem;
}

.footer-inner-border {
    opacity: 0.4;
    border-top: 1px solid var(--white);
}

@media (min-width: 768px) {
    .footer-inner-border {
        border: none;
    }
}

