/* =============================
    Global Styles (CSS Reset + Variables)
============================= */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
    /* System Colors */
    --background: #FFFFFF;
    --foreground: #2B2B2B;
    --white: #FFFFFF;
    --white-gray: #F3F4F6;
    --black: #000000;

    /* Themed Colors */
    --primary-black: #2B2B2B;
    --secondary-black: #B3B3B3;
    --tertiary-black: #D4D4D4;
    --dark: #022257;
    --red: #E9124C;
    --orange: #FA7A70;
    --yellow: #FBBD0C;
    --cyan: #04C4D9;
    --kakao: #3A1D1D;
}

/* Reset + Normalize */
* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:visited {
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: var(--background);
    color: var(--foreground);
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE & Edge */
    overflow: visible;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}


/* =============================
    Logo Animation Example
============================= */

.top-nav-logo {
    font-size: 1.5rem;
    font-weight: 900;
}

@media (min-width: 1024px) {
    .top-nav-logo { 
        font-size: 2rem; 
    }
}

.top-nav-logo:hover {
    animation: top-nav-logo-hover 1.5s ease;
}

@keyframes top-nav-logo-hover {
    0%, 100% { transform: scale(1); }
    10% { transform: scale(1.3); }
    20% { transform: scale(1); }
    30% { transform: scale(1.2); }
    40% { transform: scale(1); }
    50% { transform: scale(1.1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    90% { transform: scale(1.02); }
}


/* =============================
    Navigation Styles
============================= */

/* Top Navigation Bar */
#top-nav-bar {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    transition: all 1s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* Mobile Nav Default */
#top-nav-m-container {
    padding: 1.4rem 2rem;
    display: block;
    width: 100vw;
}

/* Wide Nav (Tablet and Up) */
#top-nav-w-container {
    padding: 3rem 4rem;
    display: none;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    backdrop-filter: none;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    #top-nav-m-container { 
        display: none; 
    }
    #top-nav-w-container { 
        display: flex; 
    }
}

@media (min-width: 1024px) {
    #top-nav-w-container { 
        flex-direction: row; 
    }
}

/* Mobile Nav Folded Header */
#top-nav-m-folded {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Mobile Nav Expanded */
#top-nav-m-expanded {
    display: none;
    width: 100vw;
    height: 100vh;
    color: var(--primary-black);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(30px);
}

#top-nav-mobile-expanded .container {
    width: 100%;
    height: 100%;
    padding: 2rem 2.5rem;
    flex-direction: column;
}

#top-nav-mobile-expanded-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-nav-mobile-btn-menu .material-icons,
#top-nav-mobile-btn-close .material-icons {
    font-size: 2rem;
}

/* Mobile Menu Items */
#top-nav-mobile-expanded-menus {
    padding: 2rem 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-nav-mobile-expanded-menus .menu-item {
    margin: 1.6rem 0;
    flex-grow: 1;
    font-size: 1.3rem;
}

#top-nav-mobile-expanded-menus .menu-icons {
    margin: 1rem 0 2rem 0;
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

#top-nav-mobile-expanded-menus .menu-icon-container {
    max-height: 3rem;
    max-width: 3rem;
    height: 100%;
    width: 100%;
    min-height: 2rem;
    min-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#top-nav-mobile-expanded-menus .menu-icon-container:hover {
    scale: 1.2;
}

/* Wide Menu Items */
#top-nav-wide-menus {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}

@media (min-width: 1024px) {
    #top-nav-wide-menus {
        gap: 2rem;
    }
}

#top-nav-wide-menus .menu-item {
    font-size: 1rem;
    transition: all 0.3s ease;
}

#top-nav-wide-menus .menu-item:hover {
    scale: 1.1;
}

#top-nav-wide-menus .menu-icon-container {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#top-nav-wide-menus .menu-icon-container:hover {
    scale: 1.2;
}


/* =============================
    Slim Banner
============================= */

#slim-banner {
    padding: 3rem 3rem;
}

#slim-banner .container {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.4rem;
    font-size: 1.2rem;
    font-weight: 100;
}

#slim-banner .emphasize {
    font-weight: 900;
}

@media (min-width: 768px) {
    #slim-banner {
        padding: 3rem 4rem;
    }
}


/* =============================
    Hero Section
============================= */

#hero-section {
    padding: 3rem 3rem;
    /* 
        Background Pattern
        https://www.magicpattern.design/tools/css-backgrounds
    */
    background-color: rgba(233, 233, 233, 0.5);
    background-image: linear-gradient(to right, #EEEEEE, #EEEEEE 3.5px, #E9E9E9 3.5px, #E9E9E9);
    background-size: 7px 100%;
}

#hero-section .container {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    gap: 2rem;

}

@media (min-width: 768px) {
    #hero-section {
        padding: 3rem 4rem;
    }
}

#hero-section .lc {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

#hero-section .lc .sub-title {
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 200;
}

#hero-section .lc ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.8rem;
}

#hero-section .lc ul li {
    font-size: 1.6rem;
    font-weight: 900;
}

#hero-section .lc .success {
    display: inline-block;
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: 900;
    background-color: var(--primary-black);
    color: var(--white);
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
}

#hero-section .rc {
    display: none;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 1rem;
}

#hero-section .rc .sub-msg {
    margin: 1.2rem 0;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: end;
}

#hero-section .rc .main-msg {
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    align-items: end;
    gap: 1.8rem;
    font-weight: 600;
}

#hero-section .rc .main-msg .studio-low {
    font-weight: 900;
}

@media (min-width: 768px) {
    #hero-section {
        padding: 3rem 4rem;
    }

    #hero-section .lc .sub-title {
        font-size: 1.2rem;
    }
    
    #hero-section .lc ul {
        gap: 0.4rem;
    }
    
    #hero-section .lc ul li {
        font-size: 1.2rem;
        font-weight: 900;
    }

    #hero-section .lc .success {
        font-size: 1.2rem;
    }
    
    #hero-section .rc {
        display: flex;
    }
}



/* =============================
    Key Factors Section
============================= */

#key-factors {
    padding: 1rem 2rem;
}

#key-factors .container {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    min-height: 400px;
}

#key-factors .logo-cloud {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#key-factors .logo-cloud .logo {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 900;
}

#key-factors .core-values {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* =============================
    Utility Classes
============================= */

/* Max Width Utilities */
.max-width-1440px { max-width: 1440px; }
.max-width-1280px { max-width: 1280px; }
.max-width-1024px { max-width: 1024px; }

/* Full Screen Utilities */
.full-screen-width { width: 100vw; }
.full-screen-height { height: 100vh; }

/* Banner Wrapper */
.main-top-banner {
    position: relative;
    overflow: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.main-top-banner::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

/* Sticky Content */
.content-sticky {
    position: sticky;
    top: 0;
}

/* Opacity Utilities */
.opacity-dot-2 { opacity: 0.2; }
.opacity-dot-4 { opacity: 0.4; }
.opacity-dot-6 { opacity: 0.6; }
.opacity-dot-8 { opacity: 0.8; }
.opacity-one  { opacity: 1; }




/* =============================
    Company Intro Section
============================= */

/* Company Intro Section */
#company-intro {
    padding: 5rem 1rem;
    color: var(--primary-black);
    background-color: var(--white);
}

#company-intro .intro-text {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #company-intro .intro-text {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    #company-intro .intro-text {
        font-size: 1.8rem;
    }
}

/* Intro text wrapper */
#company-intro .intro-text-container {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    #company-intro .intro-text-container {
        gap: 0.6rem;
    }
}

/* Core message highlight */
.company-intro-core-msg {
    margin: 3rem 0;
    font-size: 1.4rem;
    text-align: center;
}

@media (min-width: 768px) {
    .company-intro-core-msg {
        font-size: 1.8rem;
    }
}

@media (min-width: 1024px) {
    .company-intro-core-msg {
        font-size: 2.4rem;
    }
}

/* Responsive counter layout */
.company-intro-counts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6rem;
}

@media (min-width: 768px) {
    .company-intro-counts-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .company-intro-counts-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Individual count item styling */
.company-intro-counts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.company-intro-counts-item .label {
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}

.company-intro-counts-item .count {
    font-size: 4rem;
}



/* =============================
    Success Story Cards Section
============================= */

#success-story-cards {
    padding: 4rem 0;
    width: 100vw;
    color: var(--primary-black);
    background-color: var(--red);
    overflow-x: hidden;
}

/* Card Container */
#success-story-cards .card-container {
    padding: 0 2rem;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

@media (min-width: 768px) {
    #success-story-cards .card-container {
        gap: 2rem;
    }
}

/* Individual Card */
#success-story-cards .card {
    width: 320px;
    height: 488px;
    padding: 1.4rem 2rem;
    background-color: var(--white);
    transition: all 0.5s ease;
}

#success-story-cards .card:hover {
    scale: 1.02;
}

#success-story-cards .card:hover .card-header-avatar img {
    transition: transform 0.3s;
    transform: rotateY(360deg);
}

/* Card Layout */
#success-story-cards .card-layout {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

/* Card Header */
#success-story-cards .card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: 110px;
}

#success-story-cards .card-header-avatar {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    perspective: 1000px; /* 3D effect */
}

#success-story-cards .card-header-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
}

#success-story-cards .card-header-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#success-story-cards .card-header-info-name {
    font-size: 1.4rem;
}

#success-story-cards .card-header-info-job {
    font-size: 1rem;
}

#success-story-cards .card-header-info-profile {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    gap: 0.8rem;
}

#success-story-cards .card-header-info-profile-name {
    font-size: 1.2rem;
}

#success-story-cards .card-header-info-profile-name .profile-name-suffix {
    font-size: 1rem;
}

#success-story-cards .card-header-info-profile-info {
    padding-bottom: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.7rem;
    color: var(--dark);
}

/* Card Content */
#success-story-cards .card-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: 248px;
    overflow: hidden;
}

#success-story-cards .card-content-title {
    font-size: 1.2rem;
}

#success-story-cards .card-content-text {
    font-size: 1rem;
    line-height: 1.8;
}

/* More to See Button */
#success-story-cards .more-to-see-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#success-story-cards .more-to-see-container .material-icons {
    font-size: 4rem;
}

#success-story-cards .more-to-see-container .more-to-see-text {
    font-size: 2rem;
}


/* =============================
Section Title Style
============================= */
.section-title {
    padding: 6rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .section-title {
        font-size: 3rem;
    }
    .section-title-mg {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

/* =============================
    Student Reviews Section
============================= */
#student-reviews {
    padding: 4rem 0;
    color: var(--primary-black);
    background-color: var(--white);
}

/* Summary Badges */
#student-reviews .summary-container {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

@media (min-width: 640px) {
    #student-reviews .summary-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    #student-reviews .summary-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Badge Animation */
#student-reviews .badge-container {
    position: relative;
    padding: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
}

#student-reviews .badge-item-bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#student-reviews .badge-item-bg-box-rotate-animation {
    animation: box-rotate 120s linear infinite;
}

/* Hover Animation */
#student-reviews .badge-container:hover .badge-item-bg-box-rotate-animation {
    animation: box-rotate 10s linear infinite;
}

/* Click Animation */
#student-reviews .badge-container:active .badge-item-bg-box-rotate-animation {
    animation: box-rotate 1s linear infinite;
}

@keyframes box-rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#student-reviews .box {
    position: absolute;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(0deg);
}

#student-reviews .box-1 { transform: rotate(15deg); }
#student-reviews .box-2 { transform: rotate(30deg); }
#student-reviews .box-3 { transform: rotate(45deg); }
#student-reviews .box-4 { transform: rotate(60deg); }
#student-reviews .box-5 { transform: rotate(75deg); }
#student-reviews .box-6 { transform: rotate(90deg); }

/* Badge Text */
#student-reviews .badge-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

#student-reviews .badge-item-title {
    font-size: 1.2rem;
}

#student-reviews .badge-item-value {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 6rem;
}

@media (min-width: 640px) {
    #student-reviews .badge-item-title { font-size: 1rem; }
    #student-reviews .badge-item-value { font-size: 4rem; }
}

@media (min-width: 768px) {
    #student-reviews .badge-item-title { font-size: 1.2rem; }
    #student-reviews .badge-item-value { font-size: 5rem; }
}

@media (min-width: 1024px) {
    #student-reviews .badge-item-title { font-size: 0.8rem; }
    #student-reviews .badge-item-value { font-size: 3.2rem; }
}

@media (min-width: 1280px) {
    #student-reviews .badge-item-title { font-size: 1rem; }
    #student-reviews .badge-item-value { font-size: 4rem; }
}

/* Review Cards */
#student-reviews .reviews-container {
    padding: 4rem 0;
    width: 100vw;
    overflow-x: hidden;
    color: var(--primary-black);
}

#student-reviews .review-item-container {
    padding: 0 2rem;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

@media (min-width: 768px) {
    #student-reviews .review-item-container {
        gap: 2rem;
    }
}

#student-reviews .review-item {
    min-width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--foreground);
}

@media (min-width: 768px) {
    #student-reviews .review-item {
        min-width: 384px;
    }
}

#student-reviews .review-item-text-container {
    position: relative;
    padding: 1.6rem;
    background-color: var(--white-gray);
}

#student-reviews .emoji-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 7rem;
    height: 7rem;
}

#student-reviews .emoji-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#student-reviews .review-item:hover {
    color: var(--white);
    background-color: var(--foreground);
}

#student-reviews .review-item:hover .review-item-text-container {
    background-color: var(--foreground);
}

#student-reviews .review-item:hover .emoji-container {
    animation: emoji-move 1.5s ease-in-out;
}

#student-reviews .review-item:hover .review-item-title-date-container {
    color: rgba(255, 255, 255, 0.6);
}

@keyframes emoji-move {
    0%   { transform: translateY(0); }
    10%  { transform: translateY(-20px) scale(1.2); }
    20%  { transform: translateY(0) scale(1); }
    30%  { transform: translateY(-15px) scale(1.2); }
    40%  { transform: translateY(0) scale(1); }
}

#student-reviews .review-item-text {
    font-size: 1.2rem;
    line-height: 1.8;
    min-height: 280px;
    max-height: 280px;
    overflow: hidden;
}

#student-reviews .review-item-title-date-container {
    padding: 0.4rem 1.4rem 2rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    transition: all 0.3s ease;
}

#student-reviews .review-item-title {
    line-height: 1.8;
}

#student-reviews .review-item-date {
    font-family: 'Lato', sans-serif;
    text-align: right;
}

/* More To See */
#student-reviews .review-item-more-to-see {
    height: 100%;
}

#student-reviews .more-to-see-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#student-reviews .more-to-see-container .material-icons {
    font-size: 4rem;
}

#student-reviews .more-to-see-container .more-to-see-text {
    font-size: 2rem;
}



/* ===============================
    #class-intro 전체 섹션 설정
================================ */
#class-intro {
    padding: 4rem 0;
    color: var(--primary-black);
    background-color: var(--white);
}

/* ===============================
    컨테이너: 그리드 레이아웃 설정
================================ */
#class-intro .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 모바일 기본 1열 */
}

/* 태블릿 이상: 2열, 여백 및 간격 추가 */
@media (min-width: 768px) {
    #class-intro .container {
        padding: 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

/* 데스크탑 이상: 3열 */
@media (min-width: 1024px) {
    #class-intro .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 대형 스크린: 4열 */
@media (min-width: 1280px) {
    #class-intro .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ===============================
    개별 클래스 카드 스타일
================================ */
#class-intro .class-item {
    padding: 2.8rem;
    aspect-ratio: 1/1; /* 정사각형 비율 유지 */
    font-size: 1.2rem;
}

/* 카드 hover 시 색 반전 효과 */
#class-intro .class-item:hover {
    background-color: var(--foreground);
    color: var(--white);
}

/* 카드 내부 콘텐츠 컨테이너 */
#class-intro .class-item-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

/* 카드 상단: 타이틀과 아이콘 정렬 */
#class-intro .class-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 타이틀 텍스트 스타일 */
#class-intro .class-item-title {
    font-size: 2rem;
}

/* 아이콘 크기 설정 */
#class-intro .class-item-header .material-icons {
    font-size: 2.4rem;
}

/* 설명 텍스트 */
#class-intro .class-item-description {
    font-size: 1.2rem;
}

/* -------------------------------
    반응형 - 태블릿 (768px 이상)
-------------------------------- */
@media (min-width: 768px) {
    #class-intro .class-item {
        padding: 1.8rem;
    }

    #class-intro .class-item-title {
        font-size: 1.8rem;
    }
    
    #class-intro .class-item-description {
        font-size: 1rem;
    }
}

/* -------------------------------
    반응형 - 데스크탑 (1280px 이상)
-------------------------------- */
@media (min-width: 1280px) {
    #class-intro .class-item {
        padding: 1.6rem;
    }
    
    #class-intro .class-item-title {
        font-size: 1.4rem;
    }
    
    #class-intro .class-item-description {
        font-size: 0.8rem;
    }
}

/* ===============================
    수업 시간표 영역
================================ */
#class-intro .class-timetable {
    color: var(--primary-black);
}

/* 태블릿 이상일 때 여백 조정 */
@media (min-width: 768px) {
    #class-intro .class-timetable {
        margin: 1rem auto;
        padding: 0 2rem;
    }
}

/* 시간표 컨테이너 박스 스타일 */
#class-intro .class-timetable-container {
    padding: 4rem 2.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-gray);
}

/* 시간표 hover 시 색 반전 */
#class-intro .class-timetable-container:hover {
    background-color: var(--foreground);
    color: var(--white);
}

/* 시간표 타이틀 */
#class-intro .class-timetable-title {
    font-size: 1.4rem;
}

/* 아이콘 크기 */
#class-intro .class-timetable-container .material-icons {
    font-size: 1.8rem;
}

/* ===============================
    카카오 문의 버튼
================================ */
#class-intro .kakao-button-container {
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 버튼 기본 스타일 */
#class-intro .kakao-button {
    padding: 2rem 2.4rem;
    height: 2rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* 아이콘 컨테이너 */
#class-intro .kakao-button .kakao-icon-container {
    width: 2rem;
    height: 2rem;
}

/* 텍스트 기본 색상 */
#class-intro .kakao-button .btn-text {
    color: var(--white);
}

/* hover 시 배경 및 텍스트 색상 변경 */
#class-intro .kakao-button:hover {
    background-color: var(--yellow);
    color: var(--white);
}

#class-intro .kakao-button:hover .kakao-icon-container {
    color: var(--kakao);
}

#class-intro .kakao-button:hover .btn-text {
    color: var(--kakao);
}




/* ===============================
    공지사항 영역 (Notice Section)
================================ */
#notice {
    padding: 4rem 0;
    color: var(--primary-black);
    background-color: var(--white);
}

#notice .container {
    margin: 0 auto;
}

#notice .notice-list {
    padding: 0 1rem;
    border-collapse: collapse;
}

#notice .notice-list-first {
    border-top: 1px solid var(--foreground);
}

#notice .notice-item {
    padding: 1.2rem;
    border-bottom: 1px solid var(--foreground);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
    #notice .notice-item {
        flex-direction: row;
        align-items: center;
    }
}

#notice .notice-item:hover {
    background-color: var(--foreground);
    color: var(--white);
}

#notice .notice-item-title {
    font-size: 1.2rem;
}

#notice .notice-item-date {
    font-family: 'Lato', sans-serif;
    text-align: right;
    font-size: 1rem;
}

#notice .notice-more {
    padding: 3rem;
    display: flex;
    justify-content: end;
}

@media (min-width: 768px) {
    #notice .notice-more {
        padding-top: 4rem;
        justify-content: center;
    }
}

#notice .notice-more:hover {
    color: var(--red);
}

#notice .load-more-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


/* ===============================
    자주 묻는 질문 (FAQ Section)
================================ */
#faq {
    padding: 4rem 0;
    color: var(--primary-black);
    background-color: var(--white);
}

#faq .container {
    margin: 0 auto;
}

#faq-accordion {
    margin: 0 auto;
    padding: 0 1rem;
}

.faq-accordion-item {
    background-color: var(--white-gray);
    margin-bottom: 1rem;
    overflow: hidden;
}

.faq-accordion-button {
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--foreground);
    background-color: var(--white-gray);
    font-size: 1.2rem;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.faq-accordion-button:hover {
    background-color: var(--foreground);
    color: var(--white);
}

.faq-accordion-button .icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.faq-accordion-content {
    padding: 0 1.6rem;
    max-height: 0;
    font-size: 1.2rem;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: var(--white-gray);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .faq-accordion-button {
    background-color: var(--foreground);
    color: var(--white);
}

input[type="checkbox"]:checked + .faq-accordion-button + .faq-accordion-content {
    max-height: 100px;
    padding: 1.6rem;
}

input[type="checkbox"]:checked + .faq-accordion-button .icon {
    transform: rotate(90deg);
}


/* ===============================
    제휴 문의 영역 (Partnership)
================================ */
#partnership {
    padding: 4rem 0;
    color: var(--white);
    background-color: var(--orange);
}

#partnership .container {
    margin: 0 auto;
}

#partnership .contents {
    padding: 1.6rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #partnership .contents {
        padding: 1.6rem 4rem;
    }
}

#partnership .guide-text {
    margin: 1rem 0;
    line-height: 1.8;
}

#partnership .partnership-list {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

#partnership .partnership-list-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#partnership .partnership-list-item .material-icons {
    font-size: 1rem;
}

#partnership .partnership-mail {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
}


/* ===============================
    인재 채용 영역 (Human Resource)
================================ */
#human-resource {
    padding: 4rem 0;
    color: var(--kakao);
    background-color: var(--yellow);
}

#human-resource .container {
    margin: 0 auto;
}

#human-resource .contents {
    padding: 1.6rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #human-resource .contents {
        margin: 0 auto;
        padding: 1.6rem 4rem;
        font-size: 1.2rem;
    }
}

#human-resource .guide-text {
    line-height: 1.8;
}

#human-resource .description-item {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    #human-resource .description-item {
        flex-direction: row;
        align-items: start;
    }
}

@media (min-width: 768px) {
    #human-resource .description-title {
        margin: 0;
        padding: 0.2rem 0;
        min-width: 16%;
    }
}

#human-resource .contents .description-text {
    display: flex;
    align-items: start;
    gap: 0.8rem;
    line-height: 1.8;
}

#human-resource .contents .description-text .material-icons {
    padding-top: 0.4rem;
    font-size: 1rem;
}

@media (min-width: 768px) {
    #human-resource .contents .description-text .material-icons {
        padding-top: 0.6rem;
        font-size: 1.2rem;
    }
}


/* ===============================
    오시는 길 (Location Section)
================================ */
#location {
    padding: 4rem 0;
    color: var(--primary-black);
    overflow-x: hidden;
}

#location .container {
    margin: 0 auto;
}

#location .contents {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    #location .contents {
        padding: 4rem;
        flex-direction: row;
        gap: 1rem;
    }
}

#location .map-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    #location .map-container {
        max-width: 60%;
        border: 1px solid var(--secondary-black);
    }
}

#location .map-container img {
    width: 100%;
    height: 100%;
    scale: 1;
    object-fit: cover;
    transition: all 0.5s ease;
}

#location .map-container img:hover {
    scale: 1.2;
}

#location .location-info {
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#location .location-info-item {
    display: flex;
    align-items: start;
    gap: 1rem;
    font-size: 1rem;
}

#location .location-info-item .material-icons {
    padding-top: 0.2rem;
    font-size: 1.1rem;
}

@media (min-width: 768px) {
    #location .location-info {
        padding: 1.5rem 1.5rem;
    }
}

@media (min-width: 1280px) {
    #location .location-info-item {
        font-size: 1.3rem;
    }

    #location .location-info-item .material-icons {
        padding-top: 0.4rem;
        font-size: 1.5rem;
    }
}

#location .address, .email {
    cursor: pointer;
}

#location .address:hover, .email:hover {
    text-decoration: underline;
}


/* ===============================
    푸터 영역 (Footer Section)
================================ */
#footer {
    color: var(--white);
    background-color: var(--primary-black);
}

#footer .container {
    padding: 2.4rem;
}

@media (min-width: 768px) {
    #footer .container {
        padding: 4rem;
    }
}

#footer .logo-info-sns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    #footer .logo-info-sns {
        grid-template-columns: repeat(2, 1fr);
    }
}

#footer .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}

#footer .logo-info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

#footer .info-line {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#footer .sns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#footer .sns-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 768px) {
    #footer .sns-container {
        justify-content: flex-end;
    }
}

#footer .sns-icon {
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    transition: all 0.3s ease;
}

#footer .sns-icon:hover {
    scale: 1.2;
}

#copyright {
    margin-top: 2rem; 
    padding-top: 2rem;
    text-align: center;
    font-size: 1rem;
}

.footer-inner-border {
    opacity: 0.4;
    border-top: 1px solid var(--white);
}

@media (min-width: 768px) {
    .footer-inner-border {
        border: none;
    }
}