@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Limelight&family=Luckiest+Guy&family=Noto+Sans+KR:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #FFFFFF;
    --foreground: #2B2B2B;
    --white: #FFFFFF;
    --black: #000000;
    --primary-black: #2B2B2B; 
    --secondary-black: #B3B3B3;
    --tertiary-black: #D4D4D4;
    --dark: #022257;
    --red: #E9124C;
    --orange: #FA7A70;
    --yellow: #FBBD0C;
    --cyan: #04C4D9;
    --kakao: #3A1D1D;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
    font-family: "Noto Sans KR", sans-serif;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 및 Edge */
}

/* 메뉴 확장 시 스크롤 방지 */
/* html, body {
    overflow: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
} */

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}


.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.bg-primary-black {
    background-color: var(--primary-black);
}

.bg-secondary-black {
    background-color: var(--secondary-black);
}

.bg-tertiary-black {
    background-color: var(--tertiary-black);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-red {
    background-color: var(--red);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-cyan {
    background-color: var(--cyan);
}

.fg-white {
    color: var(--white);
}

.fg-black {
    color: var(--black);
}

.fg-primary-black {
    color: var(--primary-black);
}

.fg-secondary-black {
    color: var(--secondary-black);
}

.fg-tertiary-black {
    color: var(--tertiary-black);
}

.fg-dark {
    color: var(--dark);
}

.fg-red {
    color: var(--red);
}

.fg-orange {
    color: var(--orange);
}

.fg-yellow {
    color: var(--yellow);
}

.fg-cyan {
    color: var(--cyan);
}

/* Default Font - Korean */
.noto-sans-kr-100 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.noto-sans-kr-200 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.noto-sans-kr-300 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.noto-sans-kr-400 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-kr-500 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.noto-sans-kr-600 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.noto-sans-kr-700 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.noto-sans-kr-800 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.noto-sans-kr-900 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* LOGO TEST  */
.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.transition-300-ease {
    transition: all 0.3s ease;
}

.top-nav-logo {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: -0.5rem;
}

@media (min-width: 1024px) {
    .top-nav-logo {
        font-size: 2.5rem;
    }
}

#top-nav-bar.bg-blur {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

#top-nav-container-mobile {
    display: block;
}

#top-nav-container-wide {
    margin: 0 auto;
    padding: 3rem 4rem;
    display: none;
    width: 100vw;
    max-width: 1536px;
    background: transparent;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: none;
    backdrop-filter: none;
    transition: all 0.3s ease;
}

@media (min-width: 1024px) {
    #top-nav-container-wide {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    #top-nav-container-mobile {
        display: none;
    }

    #top-nav-container-wide {
        display: flex;
    }
}

#top-nav-container-wide-menus {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}

@media (min-width: 1024px) {
    #top-nav-container-wide-menus {
        font-size: 1rem;
        gap: 2rem;
    }
}

.wide-menu-item {
    font-size: 1rem;
    transition: all 0.3s ease;
}

.wide-menu-item:hover {
    scale: 1.1;
}

.wide-menu-icon-svg-container {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.wide-menu-icon-svg-container:hover {
    scale: 1.2;
}

#top-nav-conatainer-mobile-folded {
    display: flex;
}

#top-nav-container-mobile-expanded {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: var(--primary-black);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(30px);
}

#top-nav-logo-m-menu-btn .material-icons,
#top-nav-logo-m-close-btn .material-icons {
    font-size: 32px;
}

#top-nav-mobile-expand-menus {
    padding: 60px 0;
    width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expanded-menu-item {
    flex-grow: 1;
    font-size: 1.3rem;
}

.expanded-menu-icons {
    padding: 0 7rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.expanded-menu-icon-svg-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.expanded-menu-icon-svg-container:hover {
    scale: 1.2;
}

.main-top-banner {
    position: relative;
    overflow: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 및 Edge */
}

.main-top-banner::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}


.content-sticky {
    position: sticky;
    top: 0;
}


.banner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#top-banner-01 {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--red); */
}

#top-banner-01-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

#top-banner-01-content-wide {
    display: none;
}

@media (min-width: 768px) {
    #top-banner-01-content-mobile {
        display: none;
    }

    #top-banner-01-content-wide {
        display: flex;
        align-items: end;
    }
}

#top-banner-01-text-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 0 4rem 1.5rem;
    color: var(--white);
}

#top-banner-01-text-container-wide {
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 0 6rem 6rem;
    color: var(--white);
}

.top-banner-01-text-m {
    padding: 0 1rem;
    font-size: 2.5rem;
    opacity: 0.6;
}

.top-banner-01-text-w {
    padding: 0.5rem 1rem;
    font-size: 4rem;
    opacity: 0.6;
}

.top-banner-01-text-core {
    opacity: 1;
}

@media (min-width: 768px) {
    #top-banner-01-text-container-wide {
        padding-left: 3rem;
    }
}


#top-banner-02 {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--cyan); */
}

#top-banner-02-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

#top-banner-02-content-wide {
    display: none;
}

@media (min-width: 768px) {
    #top-banner-02-content-mobile {
        display: none;
    }

    #top-banner-02-content-wide {
        display: flex;
        align-items: end;
        justify-content: end;
    }
}

#top-banner-02-text-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 0 4rem 3rem;
    color: var(--white);
}

#top-banner-02-text-container-wide {
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 0 6rem 6rem 0;
    color: var(--white);
}

.top-banner-02-text-m {
    font-size: 3rem;
}

.top-banner-02-text-w {
    padding: 0.5rem 0;
    font-size: 4rem;
}



#top-banner-03 {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--cyan); */
}

#top-banner-03-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

#top-banner-03-content-wide {
    display: none;
}

@media (min-width: 768px) {
    #top-banner-03-content-mobile {
        display: none;
    }

    #top-banner-03-content-wide {
        display: flex;
        align-items: end;
    }
}

#top-banner-03-text-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 0 4rem 3rem;
    color: var(--white);
    /* transform: translateX(-20px); */
}

#top-banner-03-text-container-wide {
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 0 4rem 5rem;
    color: var(--white);
}

.top-banner-03-text-m {
    padding: 0 0 0.8rem 0;
}

.top-banner-03-text-m-title {
    font-size: 1.8rem;
    opacity: 0.6;
}

.top-banner-03-text-m.top-banner-03-text-m-title {
    padding: 0 0 0.2rem 0;
    font-size: 1.2rem;
    opacity: 0.4;
}

.top-banner-03-text-w {
    padding: 0.2rem 1rem;
    font-size: 3rem;
    opacity: 0.6;
}

.top-banner-03-text-w.top-banner-03-text-w-title {
    padding: 1rem 1rem;
    font-size: 1.4rem;
    opacity: 0.4;
}



#top-banner-04 {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--cyan); */
}

#top-banner-04-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

#top-banner-04-content-wide {
    display: none;
}

@media (min-width: 768px) {
    #top-banner-04-content-mobile {
        display: none;
    }

    #top-banner-04-content-wide {
        display: flex;
        justify-content: end;
        align-items: end;
    }
}

#top-banner-04-text-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 0 2rem 2rem 0;
    color: var(--white);
}

#top-banner-04-text-container-wide {
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 0 5rem 4rem 0;
    color: var(--white);
}

.top-banner-04-text-m {
    padding: 0.4rem 1rem;
    font-size: 2.6rem;
}

.kakao-link-text {
    color: var(--kakao);
    border-bottom: 6px solid var(--kakao);
}

.kakao-link-text:hover {
    opacity: 0.8;
}

.top-banner-04-text-w {
    padding: 0.5rem 1rem;
    font-size: 3rem;
}



#top-banner-05 {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--cyan); */
}

#top-banner-05-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

#top-banner-05-content-wide {
    display: none;
}

@media (min-width: 768px) {
    #top-banner-05-content-mobile {
        display: none;
    }

    #top-banner-05-content-wide {
        display: flex;
        align-items: end;
    }
}

#top-banner-05-text-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 0 4rem 3rem;
    color: var(--white);
}

#top-banner-05-text-container-wide {
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 0 4rem 5rem;
    color: var(--white);
}

.top-banner-05-text-m {
    padding: 0.5rem 0;
    font-size: 2.5rem;
    opacity: 0.6;
}

.top-banner-05-text-m.location-text {
    color: var(--dark);
    opacity: 1;
}

.top-banner-05-text-m.studio-low-text {
    opacity: 1;
}

.top-banner-05-text-w {
    padding: 0.2rem 0;
    font-size: 3rem;
    opacity: 0.6;
}

.top-banner-05-text-w.location-text {
    color: var(--dark);
    opacity: 1;
}

.top-banner-05-text-w.studio-low-text {
    opacity: 1;
}


.top-banner-image-bg-container {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}



#top-banner-06 {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--cyan); */
}

#top-banner-06-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#top-banner-06-content-wide {
    display: none;
}

@media (min-width: 768px) {
    #top-banner-06-content-mobile {
        display: none;
    }

    #top-banner-06-content-wide {
        display: flex;
        align-items: end;
    }
}

#top-banner-06-text-container-mobile {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 2rem 0;
    color: var(--white);
}

#top-banner-06-text-container-wide {
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 4rem 0;
    color: var(--white);
}

.top-banner-06-text-m {
    font-size: 1.5rem;
    opacity: 0.6;
}

.top-banner-06-text-w {
    font-size: 2rem;
    opacity: 0.6;
}




#top-banner-07 {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--cyan); */
}

#top-banner-07-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#top-banner-07-content-wide {
    display: none;
}

@media (min-width: 768px) {
    #top-banner-07-content-mobile {
        display: none;
    }

    #top-banner-07-content-wide {
        display: flex;
        align-items: end;
    }
}

#top-banner-07-text-container-mobile {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 2rem 0;
    color: var(--white);
}

#top-banner-07-text-container-wide {
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 4rem 0;
    color: var(--white);
}

.top-banner-07-text-m {
    font-size: 1.5rem;
    opacity: 0.6;
}

.top-banner-07-text-w {
    font-size: 2rem;
    opacity: 0.6;
}



.content-container {
    margin: 0 auto;
    padding: 0 0.2rem;
    color: var(--dark);
}

@media (min-width: 768px) {
    .content-container {
        padding: 0 2rem;
    }
}

@media (min-width: 1024px) {
    .content-container {
        padding: 0 4rem;
    }
}

.max-width-1440px {
    max-width: 1440px;
}



#company-intro {
    padding: 5rem 1rem;
    color: var(--primary-black);
    background-color: var(--white);
}

#company-intro .intro-text {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #company-intro .intro-text {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    #company-intro .intro-text {
        font-size: 1.8rem;
    }
}

#company-intro .intro-text-container {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    #company-intro .intro-text-container {
        gap: 0.6rem;
    }
}

.company-intro-core-msg {
    margin: 3rem 0;
    font-size: 1.4rem;
    text-align: center;
}

@media (min-width: 768px) {
    .company-intro-core-msg {
        font-size: 1.8rem;
    }
}

@media (min-width: 1024px) {
    .company-intro-core-msg {
        font-size: 2.4rem;
    }
}

.company-intro-counts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6rem;
}

@media (min-width: 768px) {
    .company-intro-counts-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .company-intro-counts-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


.company-intro-counts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.company-intro-counts-item .label {
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}

.company-intro-counts-item .count {
    font-size: 4rem;
}



#success-story-cards {
    padding: 5rem 1rem;
    width: 100vw;
    color: var(--primary-black);
}


.section-title-mg {
    margin-top: 64px;
    margin-bottom: 64px;
}

@media (min-width: 768px) {
    .section-title-mg {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}



/* 
    Breakpoint prefix	Minimum width	CSS
    sm	40rem (640px)	@media (width >= 40rem) { ... }
    md	48rem (768px)	@media (width >= 48rem) { ... }
    lg	64rem (1024px)	@media (width >= 64rem) { ... }
    xl	80rem (1280px)	@media (width >= 80rem) { ... }
    2xl	96rem (1536px)	@media (width >= 96rem) { ... } 
*/

/* 
.nav-transition {
    @apply transition-all duration-500;
}

#top-nav-container {
    @apply w-full bg-transparent border-none text-white backdrop-blur-none;
    @apply px-10 py-8 lg:py-10 xl:py-12 2xl:py-16;
}

.top-nav-text-menu {
    @apply text-xs hover:scale-110 hover:border-b-2 hover:transition-all hover:duration-300;
    @apply xl:text-sm;
}

.top-nav-bar-default {
    #top-nav-container {
        @apply border-none px-10 text-white backdrop-blur-none;
    }

    #top-nav-logo-menus {
        @apply md:gap-10 justify-center xl:justify-between;
    }

    #top-nav-logo {
        @apply py-1 text-3xl md:text-4xl lg:text-5xl 2xl:text-6xl;
    }
}

.top-nav-bar-bg-blur {
    @apply flex justify-center 2xl:mt-10 2xl:px-12;

    #top-nav-container {
        @apply max-w-[1536px] border-b border-white px-6 text-gray-800 backdrop-blur-md;
        @apply lg:py-6 2xl:py-8;
        @apply 2xl:border;
        @apply 2xl:rounded-full;
    }

    #top-nav-logo-menus {
        @apply lg:py-4 xl:py-6 justify-between;
    }

    #top-nav-logo {
        @apply text-3xl xl:text-4xl;
    }
} */

.dot-pagination-circle {
    width: 12px;
    height: 12px;
}

.dot-pagination-circle-active {
   background-color: #FFD700;
}

/* 아코디언 개별 항목 스타일 */
.faq-accordion-item {
    border-radius: 10px;
    background-color: #f3f4f6;
    margin-bottom: 10px;
    overflow: hidden;
}

/* 버튼 스타일 */
.faq-accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f3f4f6;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.faq-accordion-button:hover {
    background-color: #1f2937;
    color: white;
}

.faq-accordion-button .icon {
    font-size: 18px;
    color: #9ca3af;
    transition: transform 0.3s ease;
}

/* 체크박스를 활용한 아코디언 토글 */
.faq-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: white;
    padding: 0 16px;
}

input[type="checkbox"] {
    display: none;
}

/* 체크되었을 때(아코디언 열림) */
input[type="checkbox"]:checked + .faq-accordion-button + .faq-accordion-content {
    max-height: 100px;
    padding: 16px;
}

/* 체크되었을 때 아이콘 회전 */
input[type="checkbox"]:checked + .faq-accordion-button .icon {
    transform: rotate(90deg);
}







/* Footer */
.footer-inner-border {
    opacity: 0.4;
    border-top: 1px solid var(--white);
}

@media (min-width: 768px) {
    .footer-inner-border {
        border: none;
    }
}